/* 重設樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 全局樣式 */
  body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: lightblue;
    margin: 0rem;
    overflow: hidden;
    font-family: NotoSansTC-Light, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1, h2, h3 {
    font-weight: bolder;
  }
  
  /* 文字水平置中 */
  .centered-text {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  /* 網站樣式 */
  header {
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 100px;
    margin: 0;
  }

  header h2 {
    font-size: 80px;
    margin: 0;
  }

  header h3 {
    font-size: 60px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }

  /* 文字垂直置中 */
  .text-v-center {
    vertical-align: top;
  }
  .text-v-center:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  .text-v-center p {
    display: inline-block;
  }

  /* 好看用 */
  body {
    margin: 0;
    padding: 10px;
  }
  .section {
    display: inline-block;
    height: 200px;
    margin: 0;
    width: 32%;
    border: 1px solid #000;
  }